:root {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quintessential", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  height: 100vh;
  background-image: url("./assets/image2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
}

.story-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.side-in-book {
  max-width: 600px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paper-img {
  display: flex;
  margin-top: 20px;
  max-height: auto;
  max-width: 90%;
}

.form-div {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

h2 {
  margin-bottom: 30px;
  color: rgb(112, 1, 1);
}

p {
  font-weight: bold;
}

.summary-h2 {
  margin-bottom: 0;
}

.form-div .summary-container {
  text-align: left; 
  margin: 20px; 
  padding: 20px; 
  background-color: #f9f9f9; 
}

ul {
  list-style-type: none; 
  padding: 0; 
}

li {
  display: flex;
  margin: 5px 0;
}

li strong {
  margin-right: 10px;
}

.character-buttons {
  display: flex;
  gap: 20px;
}

button {
  background-color: #dfd3c3;
  border: #c7b198;
  border-radius: 20px;
  box-shadow: 1px 3px #c7b198;
  font-family: Quintessential,cursive;
  font-size: 18px;
  padding: 5px 10px;
}

.clueButton {
  background-color: #dfd3c3;
  border: #c7b198;
  border-radius: 20px;
  box-shadow: 1px 3px #c7b198;
  font-family: "Quintessential";
  font-size: 16px;
  padding: 5px 10px;
  margin: 30px;
}

/* PROGRESS BAR */
.progress-container {
  position: fixed;
  top: 0;
  margin-top: 10%;
  width: 200px; 
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  z-index: 999;

}

progress {
  width: 100px;
  height: 30px;
}

progress::-webkit-progress-value {
  background: #007BFF; 
}

.step-label {
  color: #007BFF; 
  font-weight: bold;
}

.sound-control {
  position: absolute;
  bottom: 10%;
}

.soundButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button img {
  width: 20px; /* Set the desired width */
  height: 20px; /* Set the desired height */
}