:root {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quintessential", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  height: 100vh;
  background-image: url("./assets/image2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
}

.story-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.side-in-book {
  max-width: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paper-img {
  display: flex;
  margin-top: 20px;
  max-height: auto;
  max-width: 90%;
}

.form-div {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.error-message {
  color: red;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

h2 {
  margin-bottom: 30px;
  color: rgb(112, 1, 1);
}

textarea {
  max-width: 419px;
  max-height: 122px;
}

p {
  font-weight: bold;
}

.summary-h2 {
  margin-top: 50px;
  margin-bottom: 0;
}

.form-div .summary-container {
  text-align: left;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  margin: 5px 0;
}

li strong {
  margin-right: 10px;
}
/* BUTTONS */

button {
  background-color: #dfd3c3;
  border: #c7b198;
  border-radius: 20px;
  box-shadow: 1px 3px #c7b198;
  font-family: Quintessential, cursive;
  font-size: 18px;
  padding: 5px 10px;
  margin: 0, 20px;
}

button:hover {
  background-color: #d4c9b9;
  box-shadow: none;
}

.bossButton {
  margin-top: 40px;
  padding: 2px 8px;
}

.character-buttons {
  display: flex;
  gap: 20px;
}

.clueButton {
  background-color: #dfd3c3;
  border: #c7b198;
  border-radius: 20px;
  box-shadow: 1px 3px #c7b198;
  font-family: "Quintessential";
  font-size: 16px;
  padding: 5px 10px;
  margin: 30px;
}

.sound-control {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
}

.soundButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button img {
  width: 20px; 
  height: 20px; 
}

/* END BUTTONS */

/* PROGRESS BAR */
.progress-container {
  position: fixed;
  top: 0;
  margin-top: 8%;
  width: 200px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  z-index: 999;
}

progress {
  width: 100px;
  height: 30px;
}

.step-label {
  color: #007bff;
  font-weight: bold;
}


/* RESPONSIVE */
@media screen and (max-width: 1500px) {
  .progress-container {
    margin-top: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .progress-container {
    margin-top: 17%;
  }
}

@media screen and (max-width: 666px) {
  .progress-container {
    margin-top: 27%;
    width: 120px;
  }

  .step-label {
    display: flex;
    text-align: center;
    width: 78px;
  }

  * {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }

  html {
    height: 100%;
  }

  .paper-img {
    max-width: 85%;
    height: 85vh;
  }

  .form-div {
    max-width: 270px;
    gap: 0px;
  }

  .narrative-div {
    width: 250px;
    margin-top: 10px;
  }

  .radio-buttons {
    display: flex;
    align-items: flex-start;
    gap: 0px;
    margin-top: 1rem;
  }

  h2 {
    margin-bottom: 20px;
  }

  textarea {
    max-width: 200px;
    max-height: 100px;
  }

  li strong {
    font-size: 11px;
    margin-right: 5px;
  }

  button {
    font-size: 14px;
    padding: 3px 8px;
    margin-top: 20px;
  }

  .bossButton {
    margin-top: 20px;
    padding: 2px 6px;
  }

  .clueButton {
    font-size: 14px;
    padding: 3px 8px;
    margin: 20px;
  }

  .playAgainButton {
    margin-top: 10px;
    padding: 2px;
    font-size: 14px;
  }

  .sound-control {
    bottom: 5%;
  }

  button img {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 330px) {
  .progress-container {
    margin-top: 35%;
    width: 100px;
  }

  .step-label {
    display: flex;
    text-align: center;
  }

  * {
    font-size: 8px; 
  }

  .body {
    padding: 5px; 
  }

  .paper-img {
    max-width: 85%; 
    max-height: 75vh;
  }

  .form-div {
    max-width: 200px;
    gap: 0px; 
  }

  .narrative-div {
    max-width: 200px;
  }

  .radio-buttons {
    gap: 0px; 
  }

  h2 {
    margin-bottom: 15px; 
  }
  
  textarea {
    max-width: 100px; 
    max-height: 80px; 
  }

  p {
    font-weight: "bold"
  }

  button {
    font-size: 12px; 
    padding: 2px 6px; 
    margin-top: 20px;
  }

  .bossButton {
    margin-top: 15px; 
    padding: 1px 4px; 
  }

  .clueButton {
    font-size: 12px; 
    padding: 2px 6px; 
    margin: 15px; 
  }

  .sound-control {
    bottom: 2%; 
  }

  button img {
    width: 10px; 
    height: 10px; 
  }
}